/* font-family: 'Abhaya Libre', serif;
font-family: 'Cantarell', sans-serif;
font-family: 'Poppins', sans-serif; */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
/* --------------------------------------------------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(./CSS/IMG/1304272942.jpg) no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
}

h1{
font-family: 'Poppins', sans-serif;
}
h2{
font-family: 'Abhaya Libre', serif;
}
h3{
font-family: 'Cantarell', sans-serif;
}

/* Header */
#Header {
  text-decoration: none;
  display: grid;
  place-items: center;
  padding: 20px;
  font-size: 2rem;
  height: 10%;
}

ul {
  align-content: center;
}
ul li {
  display: inline;
}
li {
  padding-right: 10px;
}


/* --------------------------------------------------------------------------------------- */

/*Buttons  */

.btn {
  background-image: linear-gradient(to right, #215f00 0%, #e4e4d9  51%, #215f00  100%)
}
.btn {
   padding-right: 10px;
   size: 1.5rem;
   padding: 7px 25px;
   text-align: center;
   display: inline-block;
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(255, 255, 255);            
   box-shadow: 0 0 20px #eee;
   box-shadow: 3px 4px 0px 0px #C0B78E;
   text-decoration: none;
   font-family: 'Cantarell', sans-serif;
 }

 .btn:hover{
   background-position: left center; /* change the direction of the change here */
   color: #284022;
   text-decoration: underline;
   background-image: linear-gradient(to right, #C0B78E 0%, #C9DBC3  51%, #FEFFFF  100%)
 }
 @media screen and (max-width: 600px) {
  html {
    background-size: cover;
    background-position: right;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(./CSS/IMG/1304272942.jpg) no-repeat ; 
  }
}
/* Media Querie for button 320-480 width */
  @media screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .btn {
      font-size:1em;
      width:100%;
      margin-bottom: 10px;
      margin-left: 20px;
      width: fit-content;
      text-align: center;
      
    }
}
@media screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .container{
      margin: 0;
      float: left;
  }
}

/* --------------------------------------------------------------------------------------- */
/*Logo  */
#logo {
  width: 100%;
  height: 20%;
  align-content: center;
}
.subtitle {
  font-size: 2rem;
  padding-bottom: 10px;
}
#logo img {
  width: 100%;
}

.Title {
  padding-bottom: 10px;
  font-size: 6rem;
}


.logo-container {
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}
.logo {
  border-radius: 50%;
  height: 500px;
}

/* -------------------------------------------------------------------------------------------- */

/* Catagories  */

#Catagories h3 {
  font-size: 2.5rem;
  text-decoration: underline;
}
.catagories-container {
  padding: 20px;
}
.things {
  width: 50%;
  height: auto;
  float:left;
  
  
}
.things h3{
  text-align: center;
  
}
.things li {
  display:list-item;
  
  
  
}
.things li span {
  position: relative;
  left: -10px;
  
}
.things ul {
  margin-top: 1em;
  margin-bottom: 1rem;
  margin-left: 6rem;
  padding-left: 300px;
  
}
.things ul li {
  padding-bottom: 10px;
  font-size: 2rem;
  list-style-position: inside;
  list-style:none;
}
.things li::before {
  content: '🥤 ';
}
.Cup-sizes {
  text-align: center;
  width: 50%;
  float: right;
}
.Cup-sizes img {
  border-radius: 8px;
  padding-top: 1rem;
  height: 300px;
  width: auto;
}
.size-chart::hover {
  -webkit-transform: scale(2,2);
}



.clear {
  clear: both;
}
/* -------------------------------------------------------------------------------------------- */

/* Shop with me  */
#shop-with-me {
  display: grid;
}
.shop-with-me-container {
  padding: 20px;
  text-align: center;
}
.shop-with-me-container a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
}
.shop-with-me-container h2 {
  text-decoration: underline;
  font-size: 2.5rem;
}
.items h3 {
  text-align: left;
}
.items a {
  padding-bottom: 10px;
}
.items {
  text-align: center;
  padding: 5px;
  display: inline-block;
}
.items img {
  height: 300px;
  width: 300px;
  border-radius:10px;
}
.items h3 {
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 400;
}
/* -------------------------------------------------------------------------------------------- */
/* Disclaimer*/

#Products-Disclaimer h3 {
  font-size: 2.5rem;
  text-decoration: underline;
}
.Disclaimer-container{
  padding: 50px;
  overflow: auto;
}

.Details{
    width: 50%;
    height: auto;
    float:left;
}
.Details h3{
  text-align: center;
  
}
.Details li {
  display:list-item;
  font-family: 'Cantarell', sans-serif;

}
.Details li::before {
  content: '🥤 ';
}

.Details ul {
  margin-top: 1em;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-left: 200px;
  
}
.Details ul li {
  padding-bottom: 5px;
  font-size: 2rem;
  list-style-position: inside;
  list-style: none;
}
.Details li span {
  position: relative;
  left: -10px;
}

.Disclaimers{
  width: 50%;
  float: right;
}
.Disclaimers h3{
  text-align: center;
  
}
.Disclaimers li {
  display:list-item;
  font-family: 'Cantarell', sans-serif;

}
.Disclaimers ul {
  margin-top: 1em;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-left: 200px;
  
}
.Disclaimers li::before {
  content: '🥤 ';
}
.Disclaimers ul li {
  padding-bottom: 10px;
  font-size: 2rem;
  list-style-position: inside;
  list-style:none;
}

.Disclaimers li span {
  position: relative;
  left: -10px;
}
/* -------------------------------------------------------------------------------------------- */


/* Footer */
#Footer{
  text-align: center;
  padding: 20px;
  font-size: 1rem; 
}
#Footer img {
  height: 30px;
  width: 30px;
}
/* -------------------------------------------------------------------------------------------- */

/* 
#284022
#A9BF99
#57733C
#D9C382
#F2F2F2 
*/

